#addRemoveButtons {
  display: flex;
  justify-content: space-evenly;

  #addOne {
    color: white;
    background-color: lightgreen;
  }
  #removeOne {
    color: white;
    background-color: lightcoral;
  }
}
#removeFromCart {
  color: white;
  background-color: lightblue;
}

#productCard {
  display: flex;
  align-items: center;
  flex-direction: column;
}
