* {
    padding: 0;
    box-sizing: border-box;
}
textarea {
    resize: none !important;
    width:90% !important;
    height: 100% !important;
    margin: 1rem !important;
  }

.container {
    width: 100% !important;
    margin: 1rem !important;
    position: relative;
    top: 1rem;

    h2 {
        margin-bottom: 1.2rem;
        font-size: 1.2rem;
    }
}

.btnGar{
    width: 50% !important;
}

.bulletin{
    width: 110% !important;

    height: 250px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
    
}

.chat{
    flex: 1;
    overflow-y: scroll;
    background-color: #f2eecb;
}

Form {
    width:400px !important;
    display: flex;
    flex-direction: column;
    
    align-items: space-around;
}

.alarm {
    color:orange;
}

.addMsg{
    color:black !important;
    background-color: white !important;
    margin:auto;
    width:90%
}