* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Golos+Text&display=swap');

h1,
h2,
h3 {
    font-family: 'Golos Text', sans-serif !important;
}

h1 {
    font-size: 5rem !important;
}

.flex-center {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
}

.showcase {
    height: 100%;
}

.showcase video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 800px !important;
    object-fit: cover;
    opacity: 0.8;
    height: 100%;
}

// .form-div {
//     background-color: white;
//     z-index: 2;
//     position: relative;
// }

form {
    background-color: white;
    border-radius: 10px;
    height: fit-content !important;
}

.signForm{
    min-width: 20rem !important;
    padding:2rem !important;
}

.info-div {
    min-height: fit-content;

}

section {
    height: 100%;
}

.reveal {
    position: relative;
    top: 10rem;
    opacity: 0;
    transition: 2s all ease;
    margin-top: 3rem !important;
    padding-bottom: 3rem;
    bottom: 10rem;

}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}

img.rounded {
    object-fit: cover;
    height: 200px;
    width: 200px;
    border-radius: 10%;
}

.front {
    font-size: 2rem !important;
}

.frontSection {
    margin-bottom: 1000rem !important;
    height: max-content;
}

.clear {
    clear: both;
    height: max-content;
}
.spacer{
    margin-bottom: 3rem; /* how high is your footer */
    visibility: hidden; 
    color:white;
  }