* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.editProfile-container {
    width: fit-content;
    margin: auto;
    position: relative;
    top: 5rem;
    padding: 8px;
    h2 {
        margin-bottom: 1.2rem;
        font-size: 1.2rem;
    }
}

.editProfile-form {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    div {
        label {
            margin-right: 1rem;
        }
    }
}

.deleteProfile-form {
    width: fit-content;
    height: fit-content;
    display: flex;
    margin-top: 8px;
    margin-bottom: 8px;
    flex-direction: column;
    justify-content: space-around;
    div {
        label {
            margin-right: 1rem;
        }
    }
}

.input-row {
    margin: 8px;
    display: flex;
    justify-content: space-between;
}