* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.editProfile-container {
    width: 100% !important;
    // margin: auto;
    position: relative;
    align-content: center;
    top: 5rem;
    // padding: 8px;
    h2 {
        margin-bottom: 1.2rem;
        font-size: 1.2rem;
    }
}

.editProfile-form {
    width: 50rem !important;
    max-width: 80% !important;
    margin:auto;
    height: fit-content;
    font-size: 1.25rem !important;
    size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    div {
        label {
            margin-right: 1rem;
        }
    }
}

.deleteProfile-form {
    width: 90% !important;
    height: fit-content;
    display: flex;
    margin-top: 8px;
    margin-bottom: 8px;
    flex-direction: column;
    justify-content: space-around;
    div {
        label {
            margin-right: 1rem;
        }
    }
}

.input-row {
    margin: 8px;
    display: flex;
    justify-content: space-between;
}

.delUser{
    background-color:red !important;
    min-width: 20rem !important;
    width:40% !important;
    font-size: auto;
}

.subEdit{
    min-width:fit-content !important;
    width:45% !important;
}
.w100{
    width: 100% !important;
}

.w40{
    width: 40% !important;
}

.w70{
    width: 70% !important;
}