* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h2 {
    text-align: center;
}
// .viewTool-container {
//     width: fit-content;
//     position: relative;
//     top: 5rem;
//     h2 {
//         margin-bottom: 1.2rem;
//         font-size: 1.2rem;
//     }
// }

.addTool-form {
    width: fit-content;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    div {
        label {
            margin-right: 1rem;
        }
    }
}