* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.createGarage-container {
    width: 100vw;
    margin: auto;
    position: relative;
    top: 5rem;
    h2 {
        margin-bottom: 1.2rem;
        font-size: 1.2rem;
    }
}

.createGarage-form {
    width: fit-content;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    div {
        label {
            margin-right: 1rem;
        }
    }
}


textarea {
    resize: none !important;
    width:0% !important;

  }
  
btn{
    margin-left:1rem;
}